<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.jxau.jwc.mapper.StudentMapper">


    <resultMap id="BaseResultMap" type="Student">
        <id property="id" column="student_id"/>
        <result property="name" column="student_name"/>
        <result property="gender" column="student_gender"/>
        <result property="academy" column="student_academy"/>
        <result property="className" column="student_class_name"/>
        <result property="major" column="student_major"/>
    </resultMap>

    <insert id="insertStudent" parameterType="Student">
        INSERT INTO sc_student (student_id, student_name, student_gender, student_academy, student_class_name,
                                student_major)
        VALUES (#{id}, #{name}, #{gender}, #{academy}, #{className}, #{major})
    </insert>

    <select id="findStudentById" parameterType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM sc_student
        WHERE student_id = #{id}
    </select>

    <select id="fineAllSelectStudent" parameterType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM bu_choose
                 LEFT JOIN sc_student ON student_id = choose_id
        WHERE choose_type = 1
    </select>

    <select id="findAcademyAllSelectStudent" parameterType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM bu_choose
                 LEFT JOIN sc_student ON bu_choose.choose_id = sc_student.student_id
        WHERE bu_choose.choose_type = 1
          AND sc_student.student_academy = #{academy}
    </select>

    <select id="findAcademyAllStudent" parameterType="Student" resultMap="BaseResultMap">
        SELECT *
        FROM sc_student
        WHERE sc_student.student_academy = #{academy}
    </select>


    <select id="findAllStudentLimit" resultMap="BaseResultMap">
        SELECT *
        FROM sc_student
        LIMIT #{lineStart},#{pageSize}
    </select>

    <select id="findRandomStudent" resultMap="BaseResultMap">
        SELECT *
        FROM sc_student
        WHERE student_academy = #{academyName}
        LIMIT #{lineStart},#{randomSize}
    </select>

    <select id="countAcademyStudent" parameterType="String" resultType="int">
        SELECT COUNT(*)
        FROM sc_student
        WHERE student_academy = #{academyName}
    </select>

    <select id="findAllAcademy" resultType="String">
        SELECT DISTINCT  teacher_academy
        FROM sc_teacher
    </select>
</mapper>